.breadcrumb {
  background-color: #2f4858;

  grid-area: breadcrumb;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-left: 20px;
  margin: 2.5px;
  border-radius: 5px;
}
